.add-book-component {
  width: 94%;
  margin: auto;
}

.book-list-heading {
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: space-between;
}

input {
  padding: 5px;
}

#bookTitle {
  width: 45%;
}

#category {
  width: 30%;
}

#button {
  width: 20%;
  background-color: #1590fd;
  color: white;
  border: none;
}

.div-new {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border: 1px solid lightgray;
  padding: 10px 20px;
  height: 120px;
  margin-bottom: 20px;
}

.new-button {
  width: 20%;
}

.category {
  color: #1590fd;
}
